<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css">

<footer class="site-footer h-card">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div class="wrapper">
    <div class="social-links">
      <a href="mailto:hello@innerarc.me"><i class="ph ph-at" style="font-size: 30px; color: #888888"></i></a>
      <a href="https://www.linkedin.com/company/innerarc"><i class="ph ph-linkedin-logo" style="font-size: 30px; color: #888888"></i></a>
      <!-- <a href="https://www.youtube.com/@SecureVideoJournal"><i class="ph ph-youtube-logo" style="font-size: 30px; color: #888888"></i></a> -->
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>© 2026 Inner Arc Software Ltd. InnerArc is a product of Inner Arc Software Ltd.</p>
      </div>
    </div>
  </div>

</footer>